body {
    background-color: rgb(238, 216, 233);
}


nav {
    background-image: linear-gradient(to bottom, antiquewhite, white);
    height: 130px;
}


li>a:hover {
    background-color: #edb7e6ec;
}

ul ul {
    width: 100%;
    position: absolute;
    display: none;
}

ul ul li {
    width: 200px;
}

ul li:hover ul {
    display: block;
}

ul li:hover ul a:hover {
    background-color: #edb7e6ec;
}

li>ul>li>a {
    background-color: white;
}

.custom-img {
    height: 80vh;
    width: auto;
    margin: 5vh 0vh;
}

nav {
    height: 10vh;
}

#carouselExampleIndicators {
    height: 90vh;
}

@media (max-width: 800px)  { 
    .custom-img {
        height: 40vh;
        width: auto;
        margin: 20vh 0vh;
    }
}